{% spaceless %}
{% load url from future %}
<!DOCTYPE html>
<html lang="pl-PL">
	<head>
		<meta charset="utf-8">
                <meta name="google-site-verification" content="H_u4QQUB_F2LCc5GqxKWvUt5D0kWqM_YCJHmqXmCDjM">
                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="author" content="Mateusz Miłek">
		<meta name="robots" content="index, follow">
		<meta name="description" content="BlackSheep css sprite generator. Fast, optimize and reliable! Accelerate your work with us!">
		<meta name="keywords" content="css sprite, sprite generator, sprite algorithm, blacksheep sprite, blacksheep css generator">

		<title>{% block title %}{% if not error %}Home{% endif %}{% endblock %}{% if error == "404" %}404 error dude!{% elif error == "500" %}500 error dude!{% endif %} - blacksheepsprite.com</title>

		<link rel="stylesheet" media="all" href="{% url 'statics' 'css/style.css' %}">
		<link rel="shortcut icon" href="{% url 'statics' 'images/favicon.ico' %}">
	</head>
	<body>
        <header>
            <section>
            <h1><a href="/" title="Home">#sprite { value : <span style="color: rgb(0, 143, 255)">F</span>ast, <span style="color: rgb(184, 255, 0)">O</span>ptimize, <span style="color: rgb(255, 133, 0)">R</span>eliable };</a></h1>
	            <nav>
	            <ul>
	                <li {% if request.path == "/" %}class="current"{% endif %}><a href="/" title="Home">Home</a></li>
	                <li {% if request.path == "/contact/" %}class="current"{% endif %}><a href="/contact/" title="Contact">Contact</a></li>
	                <li {% if request.path == "/privacy-policy/" %}class="current"{% endif %}><a href="/privacy-policy/" title="Privacy policy">Privacy policy</a></li>
	            </ul>
	            </nav>
	            <p>{{ howMuchSprites }} sprites generated !</p>
            </section>
        </header>
        <section>	
	        <article id="drop">
		        <p id="formdata">
					{% if not subpage and not error %}
						<form method="post" action="/generate/" enctype="multipart/form-data">
							{% csrf_token %}
							<fieldset>
								<label for="id_zipf">Upload you archive (remember 10 Mb max, images only).</label>
								<ol>
									<li>{{ addZip.zipf }}</li>
									{% if addZip.zipf.errors %}<li><p>{% for error in addZip.zipf.errors %}{{ error }}{% endfor %}</p></li>{% endif %}
									{% if zipf %}<li><p>{{ zipf }}</p></li>{% endif %}
									<li><img src="/captcha.png/666/" alt="Rewrite token" title="Rewrite token" width="150" height="30"></li>
									<li>{{ addZip.captcha }}</li>
									{% if addZip.captcha.errors %}<li><p>{% for error in addZip.captcha.errors %}{{ error }}{% endfor %}</p></li>{% endif %}
									{% if token_error %}<li><p>{{ token_error }}</p></li>{% endif %}
								</ol>
								<button title="Generate it now!" type="submit">Generate it now!</button>
								<p id="more">Clicking this button you accept our <a href="/privacy-policy/" title="Privacy and cookie policy">privacy and cookie policy</a>.</p>
							</fieldset>
						</form>
	        		{% else %}
		        		{% block content %}
							{% if error == "404" %}
								<p>Site or file does not exists.</p><p>Back to <a href="/" title="Home">Home</a>.</p>
							{% elif error == "500" %}
								<p>Internal server error.</p><p>Back to <a href="/" title="Home">Home</a>.</p>
							{% else %}
								<p><a id="zip">Download now!</a></p>
							{% endif %}
						{% endblock %}
	        		{% endif %}
		    
	        </article>
	        <article>
                <h3>BlackSheep Sprite</h3>
                <p>BlackSheep Sprite generator v 1.0.</p>
                <p>Create your sprite, accelerate your work!</p>
                <p>Just <strong>upload</strong> the <strong>ZIP</strong> archive and enjoy the power of automatization!</p>
                <em id="corner"></em>
	        </article>
	        <section id="download">
	        	<p></p>
	        	<span>Drag&amp;Drop coming soon...</span>
	        </section>
        </section>
		<a href="https://bitbucket.org/milek51" title="Find me on Bitbucket"><img width="149" height="149" src="{% url 'statics' 'images/serp.png' %}" alt="Find me on Bitbucket" title="Find me on Bitbucket"></a>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script src="{% url 'statics' 'js/jquery-2.0.0.min.js' %}"></script>
                <script>$("a#zip").click(function(){$(this).attr({"href":"http://blacksheepsprite.com/generate/{{ sprite.hashName }}/","target":"_blank"});window.location.replace("/");});</script>
                <script>var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-40528277-1"]);_gaq.push(["_setDomainName","blacksheepsprite.com"]);_gaq.push(["_trackPageview"]);(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();</script>
	</body>
</html>
{% endspaceless %}
